<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete Confirmation</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="yesButton">Yes</button>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="product_review_modal" class="modal fade" id="productReviewModal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h5 class="modal-title">Product Review Summary</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4 text-center">
							<img id="modalProductImage" src="/images/default.png"
								 class="img-fluid rounded" style="max-height: 200px;">
						</div>
						<div class="col-md-8">
							<h4 id="modalProductName">Loading...</h4>
							<div class="mb-3">
								<span id="modalRating" class="fs-4 fw-bold">0.0</span>
								<i class="fas fa-star text-warning ms-1"></i>
							</div>
							<div class="alert alert-info">
								<strong>Headline:</strong><br>
								<span id="modalHeadline">No comment</span>
							</div>
							<div class="alert alert-info">
								<strong>Comment:</strong><br>
								<span id="modalComment">No comment</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>